<!-- NG-ZORRO -->
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed">
    <div class="logo"></div>
    <ul nz-menu  nzTheme="dark" nzMode="inline">
      <li nz-menu-item nzSelected routerLink="/chart" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span nz-icon nzType="pie-chart" nzTheme="outline"></span>
        <span>Chart</span>
      </li>
      <li nz-menu-item routerLink="/chart-with-bus" routerLinkActive="active" ariaCurrentWhenActive="page">
        <span nz-icon nzType="pie-chart" nzTheme="fill"></span>
        <span>Chart with bus</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
